[submodule "extern/simde"]
	path = extern/simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "SquinkyVCV-main"]
	path = SquinkyVCV-main
	url = https://github.com/Ericxgao/SquinkyVCV-main
